[submodule "themes/fexo"]
	path = themes/fexo
	url = https://github.com/forsigner/fexo.git
[submodule "themes/huno"]
	path = themes/huno
	url = https://github.com/letiantian/huno.git
[submodule "themes/next"]
	path = themes/next
	url = https://github.com/theme-next/hexo-theme-next
